*{
    margin: 0;
    padding:0;
    font-family: Verdana;
    color: #382913;
}
header {
    text-align: center;
    background-color:#EDE3D7 ;
    width:100%;
    padding: 2opx 0;
}

.nav-links {
    padding:20px 0px;
    text-align: center;
    background-color:#EDE3D7 ;
} 
.nav-links li {
    display:inline-block;
    margin-right: 20px;
}
.nav-links a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.nav-links a:hover {
    color: #AD906E;
}
section .about {
    text-align: left;
    padding: 50px 20px;
    width: 100%;
    overflow: auto;
}
.about {
    padding: 50px;
    overflow:auto;
}
.headshot{
    float: left;
    width: 300px;
    margin-right:40px; 
    border-radius: 50%;

}
.about h2, .about p {
   max-width:600px;
}
article {
    clear:both;
    padding-top:20px;
}

p {
    width:100%;
    padding: 20px 0px;
    line-height:1.6;
}
.projects {
    text-align: center;
    padding: 20px;
    background-color: #382913;
    color:  #EDE3D7;
    position: top 50px;
    display: block;
    width:100%;
    border-radius: 15px;
    margin:10px;
    overflow: hidden;
}
.project1, .project2 {
    display:inline-block;
    vertical-align: top;
    width: 45%;
    margin: 3% 1%;
    text-align: center;
    box-sizing: border-box;
    background-color:#EDE3D7;
    padding: 8px;
    border-radius: 15px;
}
.project2 h3, .project1 h3 {
    padding: 2%;
}
.project1 img, .project2 img 
{
    border-radius: 15px;
}

section .contact {
    margin:0;
    padding:5px;
    width:100%;
    background-color: #382913;
    color: #EDE3D7;
    text-decoration: none;
}
section.contact a:hover {
     background-color: #AD906E;
}
.form {
    background-color: #EDE3D7;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align:center ;
    border-radius: 8px;
}
.submit:hover {
     background-color: #382913;
}
footer {
    padding: 5px;
    font-size: 10px; 
    margin: 0 auto;   
}
